* {
    margin: 0 auto;
    /* Margens externas */
    padding: 0;
    /* Margens internas */
    font-family: Cambria, Georgia, sans-serif;
    box-sizing: border-box;    /* Encaixa, não passa o limite */
}

/* Colocando menu na horizontal com css */
#menu-h {
    background-color: #130101;
}

#menu-h ul {
    max-width: 80%;
    padding: 0;
}

#menu-h ul li{
    display: inline;
}

#menu-h ul li a{
    color: #f2efef;
    padding: 15px;
    text-decoration: none;
    display: inline-block;
    transition: backgroud .8s;
}
#menu-h ul li a:hover{
    background-color: aqua;
}
/* efeito menu */



